.fc-daygrid-day {
    @apply cursor-pointer hover:bg-primary-opacity;
}

.fc .fc-daygrid-day.fc-day-today {
    @apply bg-tertiary;
}

.fc .fc-daygrid-day.fc-day-today .fc-bg-event {
    background: transparent !important;
}

.fc .fc-bg-event .fc-event-title {
    margin-top: 3rem;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    @apply text-black;
}

.fc .fc-daygrid-day.fc-day-today .fc-event-title {
    @apply text-black opacity-100 z-100 relative;
}

.selected-day{
    @apply bg-primary hover:bg-primary;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.fc-toolbar-chunk .fc-button{
    @apply bg-primary text-black border-primary hover:bg-primary active:bg-primary duration-200 hover:text-black active:text-black;
}

.fc-toolbar-chunk .fc-today-button{
    @apply bg-tertiary hover:bg-tertiary border-tertiary;
}

.fc-toolbar-chunk .fc-today-button:disabled{
    @apply bg-gray text-white;
}

.fc-highlight {
    @apply bg-primary hover:bg-primary-opacity;
}

.fc .fc-bg-event {
    @apply opacity-100 z-1;
}

.fc-bg-event .fc-event-title {
    @apply  opacity-100;
}

.fc .fc-bg-event {
    @apply opacity-100 z-1;
}

.fc-bg-event .fc-event-title {
    @apply  opacity-100;
}


.fc .fc-day-other .fc-daygrid-day-top{
    @apply relative opacity-45 z-50;
}

.fc-list-day-side-text {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5rem;
}

.event-orange{
    @apply text-black font-bold;
}

.event-red{
    @apply text-white font-bold;
}

.fc-daygrid-day:has(.event-orange) .fc-daygrid-day-number {
    @apply text-black;
}

.fc-daygrid-day:has(.event-red) .fc-daygrid-day-number {
    @apply text-white font-bold;
}
